.carousel-inner img {
  margin: auto;
}
  
  .hero-image {
    background-image: url("../images/misc/strip_sm.jpg");
    background-repeat: space;    
  }

  .brand {
      color:white;
  }

  .spacer_above {
    padding-top:2rem;
  }

  .fixedfooter {
    position:fixed;
    left:0px;
    bottom:0px;
    height:20px;
    width:100%;
    background:#343a40;
 }

 .img_container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
.img_item {
  display:block;
  flex-basis: 100%;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: silver;
}

.nav-tabs li a {
  color: #777;
}


.imgrow {
  display: flex;  
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.imgcolumn {  
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.imgcolumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .imgcolumn {    
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .imgcolumn {    
    flex: 100%;
    max-width: 100%;
  }
}


/* three images per line when browser width exceeds 960px */
@media only screen and (min-width: 960px) {
  .img_item {
    flex-basis: 33.333%;
  }
}
 
/* four images per line when browser width exceeds 1280px */
@media only screen and (min-width: 1280px) {
  .img_item {
    flex-basis: 25%;
  }
}
 
/* five images per line when browser width exceeds 1600px */
@media only screen and (min-width: 1600px) {
  .img_item {
    flex-basis: 20%;
  }
}
